[Unit]
Description=RescueTime tracking
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=t
ExecStart=/usr/bin/rescuetime

[Install]
WantedBy=multi-user.target
